body {
    background-image: url('/img/escenarioBatalla.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Press Start 2P', cursive;

}

#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #222;
}

.barra {
    height: 20px;
    transition: width 0.5s ease;
}

#barraVerde {
    background-color: #2E8B57;
    width: 49%;
}

#barraBlanca {
    flex: 1;
    background-color: transparent;
}

#barraAzul {
    background-color: #483D8B;
    width: 49%;
}

#botones {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -45%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;


}

.boton {
    padding: 10px 20px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

h3 {
    color: red;
    text-align: left;
    display: flex;
}


#energia1,
#energia2 {
    margin: 10px;
}

.energia-container h5 {
    color: white;
}

.turno-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 10px 0;
}

.turno-text {
    color: white;
    font-size: 18px;
}

#nombres {
    display: flex;
    justify-content: space-between;
    border: 2px solid #000;
    padding: 10px;
    color: white;
}

#nom1,#nom2 {
    width: 45%;
    text-align: center;
}

#pepe {
    position: absolute;
    right: 20px;
}
#energiaJ2{
    right: 20px;
    position: absolute;
    color: blue;

}
#energiaJ1{
    left: 20px;
    position: absolute;
    color: blue;
}
#error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
  
}
#fp1,#fp2   {
    height: 380px;
}