
body {
    font-family: 'Press Start 2P', cursive;
    background-image: url('/img/fondocontrincante.png');
    
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
}

#form_container {
    width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.form_description {
    text-align: center;
    font-size: 22px;
}

.element input {
    width: 100%;
}

.buttons {
    text-align: center;
}

.button_text {
    margin: 10px auto;
}