body {
    background-image: url('/img/fondo.jpeg');
    background-color: #000;
    color: #00FF00;
    font-family: 'Press Start 2P', cursive;
}
#form_container {
    background-color: #a07474;
    padding: 20px;
    border-radius: 5px;
    margin: 50px auto;
    max-width: 400px;
    border: 1px solid #444;
}
h1 {
    text-align: center;
    color: #FFD700;
}
.form-description {
    margin-bottom: 20px;
}

label[for="nombrePoder"] {
    color: #FF6347; 
}
label[for="daño"] {
    color: #00CED1; 
}
label[for="coste"] {
    color: #FFD700; 
}
label[for="descripcion"] {
    color: #00FF7F;
}