.fixed-button-left {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
}

.fixed-button-right {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 3em;
    text-align: center;
    margin-top: 20px;
    color: white;
}

body {
    background-image: url('/img/fondo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    margin: 0; 
    padding-top: 56px; 
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.text-center {
    text-align: center;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.text-white {
    color: white;
}

.dropdown-divider {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #dee2e6;
}
.container-full-height {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100vh;
}
.container-full-height .btn {
    margin-bottom: 10px;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
